[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python main.py"

[packages]
"discord.py" = "*"
python-dotenv = "*"
google-generativeai = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.11"
